<a href="https://colab.research.google.com/github/EricOdhiambo/My-random-python-codes/blob/main/my_randompython_codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Creating a random dataframe

In [3]:
#install dependencies - pandas
import pandas as pd

#creating the df - with data to be represented in columns and and their entries
the_data = {
    'names':['Erick', 'Antony Edward', 'Lebron', 'Cristiano', 'Mo Salah'],
    'age':['27', '24', '40', '39', '33'],
    'attributes':['doer', 'Athletic', 'beast', 'Aura', 'Never give up']
    }

the_dataframe = pd.DataFrame(the_data)
print(the_dataframe)

##will create it further with a table with lines and cells

           names age     attributes
0          Erick  27           doer
1  Antony Edward  24       Athletic
2         Lebron  40          beast
3      Cristiano  39           Aura
4       Mo Salah  33  Never give up